<nav>
  <div class="site-title">
    <a class="heading1" href="/"><h1>Delta-X</h1></a>
    <p class="sub-heading">DeltaX SITE</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>